.btn-cus {
  display: inline-block;
  background-color: $secondary-color;
  color: #fff;
  text-decoration: none;
  padding: 18px 35px;
  border-radius: 12px;
  font-size: 18px;
  transition: all 250ms;
  font-family: 'EB Garamond', serif;

  &:hover {
    background-color: #f6e4bc;
    color: #fff;
  }
  &.rwd {
    @media (max-width: 768px) {
      padding: 18px 28px;
    }
    @media (max-width: 700px) {
      padding: 18px 70px;
    }
    @media (max-width: 576px) {
      padding: 18px 35px;
    }
  }
}

.slick-slide {
  margin: 0 60px;
}
.responsive {
  & .slick-slide {
    margin: 0 10px;
    width: 217px;
  }

  & .slick-prev {
    left: -40px;
  }
  & .slick-next {
    right: -40px;
  }

  &.hotel {
    & .slick-prev {
      left: 90%;
      top: 103%;
    }
    & .slick-next {
      right: 1%;
      top: 103%;
    }

    & .sight__slider-card .card__info {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    & .sight__slider-card img {
      border-radius: 15px;
    }

    & .sight__slider-card .card__info-title {
      font-size: 20px;
    }
  }
}

.slick-prev {
  top: 43%;
  left: 390px;
  z-index: 10;
  & i {
    font-size: 30px;
    color: $primary-color;
  }
  &::before {
    color: rgba(255, 255, 255, 0);
  }
}
.slick-next {
  top: 43%;
  right: 390px;
  z-index: 10;
  & i {
    font-size: 30px;
    color: $primary-color;
  }
  &::before {
    color: rgba(255, 255, 255, 0);
  }
}

.sort {
  display: flex;
  width: 170px;
  height: 56px;
  background-color: #fff;
  box-shadow: 0px 4px 8px #0000004b;
  border-radius: 15px;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-bottom: 30px;
  text-decoration: none;
  cursor: pointer;

  & p {
    font-size: 16px;
    color: #666666;
  }
  @media (max-width: 992px) {
    margin-bottom: 0;
  }
}

.card {
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 4px 8px #0000002e;
  border: 1px solid #ebebeb;
  overflow: hidden;
  margin-bottom: 44px;
  text-decoration: none;
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 70px;
  }

  &__img {
    height: 100%;
    width: auto;
    max-width: 100%;
    transition: all 0.4s;

    &-container {
      &:hover .mask {
        opacity: 1;
      }
      &:hover .card__img {
        transform: scale(1.05);
      }
    }
  }

  &__title--mob {
    margin-bottom: 40px;
  }

  & .mask {
    background: rgba($color: #000000, $alpha: 0.3);
    width: 41.66666667%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s;
  }

  &__title {
    font-size: 22px;
    color: $primary-color;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 12px;
  }

  &__para {
    font-size: 16px;
    color: #707070;
    line-height: 25px;
    width: 90%;
    margin-bottom: 70px;

    @media (max-width: 992px) {
      margin-bottom: 94px;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    &-detail {
      display: flex;
      & .location {
        font-size: 14px;
        color: #707070;
        display: flex;
        align-items: center;
        margin-right: 10px;

        & img {
          width: 20%;
          display: inline-block;
        }
      }
      & .time {
        font-size: 14px;
        color: #707070;
        display: flex;
        align-items: center;

        & img {
          width: 25%;
          display: inline-block;
          margin-right: 5px;
        }
      }
    }

    &-click {
      margin-right: 18px;
      display: flex;
      align-items: center;

      & img {
        width: 36%;
      }
    }
  }

  & .cate {
    width: 76px;
    height: 30px;
    border-radius: 15px;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 18px;
    right: 18px;
    & p {
      font-size: 15px;
      color: #fff;
    }
  }
}

.page-item {
  margin: 6px;

  &.active {
    & .page-link {
      background-color: $primary-color;
      color: #fff;
      border: 1px solid $primary-color;
    }
  }

  & .page-link {
    border-radius: 10px;
    padding: 1rem 1.25rem;
    color: #a5a5a5;
    border: 1px solid #a5a5a5;

    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &.nxt,
    .pre {
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
  &.disabled {
    & .page-link {
      background-color: #e6e6e6;
      border: 0;
      color: #6c757d;
    }
  }
}

.sight {
  &__info {
    &-detail {
      margin-left: 30px;
    }
    &-subtitle {
      font-size: 18px;
      color: $primary-font-color;
      margin-bottom: 32px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $primary-color;
        left: -28px;
      }
    }
    &-address,
    &-tel,
    &-time,
    &-transport,
    &-social {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: $primary-font-color;
      margin-bottom: 48px;
      & i {
        color: $primary-color;
        font-size: 32px;
      }
    }
    &-para {
      line-height: 22px;
      letter-spacing: 1.12px;
      color: $primary-font-color;
      font-size: 18px;
    }
  }
  &__intro {
    margin-left: 30px;
    margin-bottom: 200px;
  }

  &__img {
    padding: 70px;

    & img {
      display: inline-block;
      border-radius: 20px;
    }
  }

  &__more {
    &-title {
      color: $primary-color;
      font-size: 22px;
      letter-spacing: 1.4px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 45px;
    }
  }

  &__slider-card {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 15px #00000029;

    & .card__info {
      padding: 12px;
      flex-direction: column;
      &-title {
        color: $primary-color;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
  }
}

.rate {
  color: #707070;
  font-size: 15px;
  margin-left: 5px;
  font-family: 'Roboto', sans-serif;
}

.cate {
  width: 76px;
  height: 30px;
  border-radius: 15px;
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    font-size: 15px;
    color: #fff;
  }
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid $secondary-color;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 250ms, transform 0.5s;

  &:hover {
    background-color: $secondary-color;
    transform: translateX(10px);

    & i {
      color: #fff;
    }
  }
  & i {
    font-size: 12px;
    color: $secondary-color;
    transition: all 250ms;
  }
}

.slick-dots {
  text-align: left;
  bottom: -50px;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:hover:before,
.slick-dots li button:focus:before,
.slick-dots li button:before {
  color: $primary-color;
  font-size: 50px;
}

.input {
  width: 850px;
  height: 110px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 4px 8px #0000004b;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 40px;
  @media (max-width: 992px) {
    width: 700px;
  }
  @media (max-width: 768px) {
    width: 90vw;
    padding: 20px;
    flex-wrap: wrap;
  }
  @media (max-width: 700px) {
    width: 72vw;
    justify-content: space-around;
    height: 180px;
    padding: 20px;
    flex-wrap: wrap;
  }
  @media (max-width: 576px) {
    width: 72vw;
    height: 230px;
    padding: 20px;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  &__group {
    position: relative;
    &:first-child {
      margin-right: 20px;
      @media (max-width: 576px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
    &:nth-child(2) {
      margin-right: 35px;
      @media (max-width: 768px) {
        margin-right: 20px;
      }
      @media (max-width: 700px) {
        margin-right: 0;
      }
      @media (max-width: 576px) {
        margin-bottom: 20px;
      }
    }
    &::after {
      content: '▼';
      padding: 17px 8px;
      position: absolute;
      right: 10px;
      top: 0;
      z-index: 1;
      text-align: center;
      pointer-events: none;
      box-sizing: border-box;
      color: #626262;
      font-size: 20px;
    }
    & select {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;

      width: 300px;
      height: 55px;
      border: 0;
      background-color: #ebebeb;
      border-radius: 10px;
      padding: 12px;
      color: #707070;
      font-size: 16px;
      @media (max-width: 992px) {
        width: 217px;
      }
      @media (max-width: 768px) {
        width: 30vw;
      }
      @media (max-width: 576px) {
        width: 60vw;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  &__search {
    & input {
      width: 620px;
      height: 55px;
      border: 0;
      background-color: #ebebeb;
      border-radius: 10px;
      padding: 17px;
      font-size: 16px;

      &::placeholder {
        color: #bfbfbf;
      }

      &:focus {
        outline: 0;
      }
    }

    & .fas.fa-search {
      font-size: 20px;
      color: $primary-font-color;
      position: relative;
      right: 40px;
    }
  }

  &-date-group {
    position: relative;

    & input {
      width: 300px;
      height: 55px;
      border: 0;
      background-color: #ebebeb;
      border-radius: 10px;
      padding: 17px;
      font-size: 16px;

      &::placeholder {
        color: #bfbfbf;
      }

      &:focus {
        outline: 0;
      }
    }
    &:first-child {
      @media (max-width: 576px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
    &:nth-child(2) {
      margin-right: 35px;
      @media (max-width: 768px) {
        margin-right: 20px;
      }
      @media (max-width: 700px) {
        margin-right: 0;
      }
      @media (max-width: 576px) {
        margin-bottom: 20px;
      }
    }

    & .far.fa-calendar-alt {
      font-size: 20px;
      position: relative;
      right: 35px;
    }
  }
}

.background {
  width: 75%;
  height: 100%;
  margin: 36px auto;
  background-color: #d0e6f1;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
}
